
 

    <!-- Product  -->
   
    <!-- Form -->
    <div class="row row-cards">
        <div class="card card-md">
    
            <div class="card-body">
               
            </div>
        </div>
    
    </div>
    
    




<div class="row row-cards">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Nouvelle Commande</h3>
                <div class="card-actions">
                    <a href="#" class="btn btn-primary">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="12" y1="5" x2="12" y2="19" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                        </svg>
                        Add a menu item:
                    </a>

                    
                </div>
            </div>
            <div class="card-body p-0">

                <div class="row row-cards">
                
                <!-- catalog item as select option -->
                    <div class="col-md-6 col-lg-4" ng-repeat="order_item in $ctrl.products">
                        <div class="card" ng-click="$ctrl.addToOrder(order_item)"  
                        ng-class="{'card cursor-not-allowed': order_item.selected } "  
                        ng-class="{'card cursor-pointer': !order_item.selected }"  >

                            <div ng-if="order_item.featured"  class="ribbon bg-red" >NEW</div>
                            <div class="card-body">
                                <h3 class="card-title">
                                    <span ng-if="order_item.selected" class='badge bg-danger me-1'></span> 
                                    <span ng-if="!order_item.selected" class='badge bg-success me-1'></span>
                                    {{order_item.title}}
                                </h3>
                                <p class="text-muted">DEsc.</p>
                            </div>
                            <div class="card-footer">
                                {{order_item.unit_price | currency : "fr&nbsp" : 0}}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <div class="ribbon ribbon-top bg-yellow">
                                 
                                <svg xmlns="http://www.w3.org/2000/svg" data-icon="http://tabler-icons.io/i/star" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
                                    </path>
                                </svg>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Card with top ribbon</h3>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at consectetur
                                    culpa ducimus eum fuga fugiat, ipsa iusto, modi nostrum recusandae reiciendis saepe.</p>
                            </div>
                            <div class="card-footer">
                                {{order_item.unit_price | currency : "fr&nbsp" : 0}}
                            </div>
                        </div>
                    </div> -->
                    
                    <hr class=""> 
                    <div class="col-md-6 col-lg-4" ng-repeat="order_item in $ctrl.products">
                        <div ng-model="$ctrl.products[$index]" ng-click="$ctrl.addToOrder(order_item)"     ng-class="{'card cursor-not-allowed': order_item.selected } "  ng-class="{'card cursor-pointer': !order_item.selected } ">
                            <!-- <div ng-if="order_item.featured"  class="ribbon  ribbon-top bg-red"  >NEW </div> -->
                            <!-- <div ng-if="$index == 2" class="ribbon ribbon-top bg-yellow" >
                                
                                <svg xmlns="http://www.w3.org/2000/svg" data-ican="Download SVG icon from http://tabler-icons.io/i/star" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
                                    </path>
                                </svg>
                            </div> -->
                        
                            <div class="card-body">
                                <h3 class="card-title"> 
                                     <span ng-if="order_item.selected" class='badge bg-danger me-1'></span> <span  ng-if="!order_item.selected" class='badge bg-success me-1'></span>
                                        {{order_item.title}}
                                     </h3>
                                <p class="text-muted">Lorem ipsum  suscipit velit vitae voluptatem.</p>
                            </div>
                            <div class="card-footer">
                               {{order_item.unit_price | currency : "fr&nbsp" : 0}}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-6 col-lg-4">
                        <a href="#" class="card card-link card-link-pop " target="_blank" rel="noreferrer">
                            <div class="card-body"> Pop hover effect #1</div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <a href="#" class="card card-link card-link-pop " target="_blank" rel="noreferrer">
                            <div class="card-body"> Pop hover effect #2</div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <a href="#" class="card card-link card-link-pop " target="_blank" rel="noreferrer">
                            <div class="card-body"> Pop hover effect #3</div>
                        </a>
                    </div> -->

                    

                </div>



                <!-- List of order items -->
                <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Preorder</h3>
                    </div>
                    <div class="card-body border-bottom py-3">
                        <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox"
                                            aria-label="Select all invoices"></th>
                                    <th class="w-1">No.
                                        <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24"
                                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <polyline points="6 15 12 9 18 15" />
                                        </svg>
                                    </th>
                                    <!-- <th>Invoice Subject</th> -->
                                    <th>Item</th>
                                    <th>PU.</th>
                                    <th>Qty</th>
            
                                    <th>Created</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in $ctrl.order.items" ng-if="item.quantity">
                                    <td><input class="form-check-input m-0 align-middle" type="checkbox"
                                            aria-label="Select invoice"></td>
                                    <td ng-if="$index==0" rowspan="{{$ctrl.order.items.length}}"><span
                                            class="text-muted">{{$ctrl.order.table_id}}</span></td>
                                    <!-- <td><a href="invoice.html" class="text-reset" tabindex="-1">Design Works</a></td> -->
                                    <td>
                                        <!-- <span class="flag flag-country-us"></span> -->
                                        {{item.title}}
                                    </td>
                                    <td>
                                        {{item.unit_price | currency: 'fr&nbsp;'}}
                                    </td>
                                    <td ng-click="$ctrl.updateItemQty(item,'inc')"><span class="text-muted">{{item.quantity}}</span>
                                    </td>
            
                                    <td>
                                        {{ $ctrl.order.date | date : 'dd-mm-yy h:m' }}
                                    </td>
                                    <td>
                                        <span class="badge bg-success me-1"></span> Paid
                                    </td>
                                    <td ng-click="$ctrl.updateItemQty(item,'del')">{{item.total_price | currency:
                                        'fr&nbsp;' }}</td>
                                    <td class="text-end">
                                        <span class="dropdown">
                                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport"
                                                data-bs-toggle="dropdown">Actions</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">
                                                    Action
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    Another action
                                                </a>
                                            </div>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    
                </div>
            
                <!-- <pre>
                                    {{$ctrl.order | json}}  
                                </pre> -->
            
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Ticket / Facture </h3>
                <div class="card-actions">
                    <a href="#" class="btn btn-primary">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="12" y1="5" x2="12" y2="19" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                        </svg>
                        Cloturer
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            
                            <th>Item</th>
                            <th>PU.</th>
                            <th>Qty</th>
            
                              
                            <th>Total</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in $ctrl.order.items">
                            
                            <td>
                                <!-- <span class="flag flag-country-us"></span> -->
                                {{item.title}}
                            </td>
                            <td>
                                {{item.unit_price | currency: 'fr&nbsp;' : 0}}
                            </td>
                            <td ng-click="$ctrl.updateItemQty(item,'inc')"><span class="text-muted">{{item.quantity}}</span>
                            </td>
                             
                            <td ng-click="$ctrl.updateItemQty(item,'del')">{{item.total_price | currency:       'fr&nbsp;'  : 0 }}</td>
                            
                        </tr>
                        <tr>
                            <td colspan="3" class="right"> Tip</td>
                            <td> {{$ctrl.getTotal()*0.04 | currency : "fr&nbsp" : 0}}
                            </td>
                        </tr>
                        <tr >
                            <td colspan="3" class="right"> Total</td>
                            <td> {{$ctrl.getTotal()| currency : "fr&nbsp": 0}} 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
    
 